.swiper-thumbs .swiper-slide {
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  overflow: hidden;
  cursor: pointer;
}
.swiper-thumbs .swiper-slide-thumb-active {
  border: 1px solid green;
  border-radius: 0.25rem;
  overflow: hidden;
}
